<!DOCTYPE html>
<html>
    <head>
        <title>{{ application_name }} - {{ customer_name }}</title>
        {# JQuery mobile standard css #}
        <link rel="stylesheet" href="{{ asset('html/mobile/jquery.mobile-1.2.0.min.css') }}" />
        {# JQuery mobile extended css #}
        {#<link rel="stylesheet" href="{{ asset('html/mobile/extended/jqm-icon-pack-2.1.2-fa.css') }}" />#}
        <script src="{{ asset('html/mobile/jquery-1.8.2.min.js') }}"></script>
        <script src="{{ asset('html/mobile/jquery.mobile-1.2.0.min.js') }}"></script>
    </head>
    <body>
        <div data-role="page" data-theme="{{ jquery_mobile_theme }}" data-dom-cache="true">

            <div data-role="header" data-theme="{{ jquery_mobile_theme }}">
                {% block header %}
                    <h1>{% trans %}portal.title{% endtrans %}</h1>
                    <a href="#popupBasic" data-rel="popup" class="ui-btn-right" data-icon="grid" data-iconpos="notext" data-mini="true">{% trans %}nav.menu.title{% endtrans %}</a>
                    <div data-role="popup" id="popupBasic">
                        {% include ':Mobile:mobile.menu.html.twig' %}
                    </div>
                {% endblock %}
            </div><!-- /header -->

            <div data-role="content">
                {% block content %}{% endblock %}
            </div><!-- /content -->

            <div data-role="footer" data-position="fixed" data-theme="{{ jquery_mobile_theme }}">
                {% block footer_left %}
                {% endblock %}
                <h4 style="text-align:center;">&copy; {{ "now"|date("Y") }} {{ application_name }} - {{ customer_name }}</h4>
                {% block footer_right %}
                {% endblock %}
            </div><!-- /footer -->
        </div><!-- /page -->
    </body>
</html>
